# netbeans project files
nbproject

# composer vendor dir
vendor
# cubrid install dir
cubrid

# Mac DS_Store Files
.DS_Store

# ignore sub directory for dev installed apps and extensions
apps
extensions

assets/*
!assets/.gitignore
!assets/AppAsset.php
runtime/*
!protected/runtime/.gitignore
!protected/data/*.db
!themes/classic/views/
